<section>
    <section>
      <h2>Task runners</h2>
    </section>

    <section>
        <p>Dejar que la máquina haga el trabajo sucio.</p>
        <p><img src="wolf.jpg" alt=""></p>
    </section>

    <section>
      <h2>¿Por qué Gulp?</h2>
      <p class="fragment">¿Por qué no?</p>
      <p class="fragment">Lo importante NO es la herramienta, es el <span class="u-marked">workflow</span></p>
    </section>

    <section>
      <h2>Tips para mejorar el workflow</h2>
      <ul>
        <li>Cuidar la velocidad de compilacion. Nos tiene que ahorrar tiempo no quitarnoslo.</li>
        <li>Cuidado con las dependencias. No depender 100% de un plugin.</li>
        <li>Abstraction Hell. El código se tiene que seguir entendiendo. Acordar con el equipo.</li>
      </ul>
    </section>
</section>
