<section>
  <section>
    <h2>Clean the fuckin car</h2>
    <blockquote>
      So, pretty please... with sugar on top. Clean the fucking car.
    </blockquote>
  </section>

  <section>
    <h3>Dependecies</h3>
    <ul>
      <li><a href="https://github.com/sindresorhus/del">del</a></li>
    </ul>
  </section>

  <section>
    <h3>Path variables</h3>
    <pre contenteditable><code data-trim class="hljs js">
var path = {
  stylesSrc: 'scss',
  stylesDist: 'css',
  scriptsDist: 'scripts',
  scriptsSrc: 'js',
  ...
}

gulp.task('css', function() {
  return gulp.src( path.stylesSrc + '/*.scss' )
    .pipe(sass())
    .pipe(gulp.dest( path.stylesDist + '/css' ))
});
    </code></pre>
  </section>

  <section>
    <h3>Path variables ++</h3>
    <pre contenteditable><code data-trim class="hljs js">
var basePath = {
    src: 'src',
    dist: 'dist',
    tmp: '.tmp'
}

var assetsPath = {
  stylesSrc: basePath.src + '/scss',
  stylesDist: basePath.dist + '/css',

  imgSrc: basePath.src + '/images',
  imgDist: basePath.dist + '/img',

  scriptsSrc: basePath.drive + '/scripts',
  scriptsSrcDrv2: basePath.drive2 + '/js'
}
    </code></pre>
  </section>

  <section>
    <h3>Clean</h3>
<pre contenteditable><code data-trim class="hljs js">
var del = require('del');

gulp.task('clean', function(callback) {
    del([
        basePath.dist,
        basePath.tmp
      ],
      function(err, deletedFiles) {
        console.log('Files deleted:\n'.bold.green , deletedFiles.join(',\n '));
        callback();
      }
    );
});
</code></pre>
  </section>

</section>
