<section>
  <section>
    <h2>Browsersync</h2>
  </section>

  <section>
    <h3>Dependecies</h3>
    <ul>
      <li><a href="https://www.browsersync.io/">browsersync</a></li>
    </ul>
  </section>

  <section>
    <pre contenteditable><code data-trim class="hljs js">
var browserSync = require('browser-sync').create();

gulp.task('serve', ['build'], function() {
    browserSync({
      server: basePath.dist,
      port: 8000,
      files: [ assetsPath.stylesDist + '/*.css']
    });

    gulp.watch( assetsPath.stylesSrc + '/**/*.scss', ['css']);
    gulp.watch( assetsPath.scriptsSrc + '/**/*.js', ['js']);
    gulp.watch( basePath.dist + '/**/*.html').on('change', browserSync.reload);
    gulp.watch( assetsPath.scriptsDist + '/**/*.js').on('change', browserSync.reload);
});
  </code></pre>

  </section>
</section>
