<section>
  <section>
    <h2>Styles</h2>
  </section>

  <section>
    <h3>Dependecies</h3>
    <ul>
      <li><a href="https://github.com/contra/gulp-cached">gulp-cached</a></li>
      <li><a href="https://github.com/juanfran/gulp-scss-lint">gulp-scss-lint</a></li>
      <li><a href="https://github.com/dlmanning/gulp-sass">gulp-sass</a></li>
      <li><a href="https://github.com/postcss/gulp-postcss">gulp-postcss</a></li>
      <li><a href="https://github.com/postcss/autoprefixer">autoprefixer</a></li>
      <li><a href="http://cssnano.co/">cssnano</a></li>
      <li><a href="https://github.com/hparra/gulp-rename">gulp-rename</a></li>
      <li><a href="https://www.npmjs.com/package/gulp-sourcemaps">gulp-sourcemaps</a></li>
    </ul>
  </section>

  <section>
    <h3>Scss Lint</h3>
    <pre contenteditable><code data-trim class="hljs js">
var cache = require('gulp-cached');
var scsslint = require('gulp-scss-lint');

gulp.task('scss-lint', function() {
  return gulp.src([
      assetsPath.stylesSrc + '/**/*.scss',
      '!' + assetsPath.stylesSrc + '/vendor/**/*.scss'
    ])
    .pipe(cache('scsslint'))
    .pipe(scsslint({
      'config': './.scss-lint.yml',
    }));
});
    </code></pre>
  </section>

  <section>
    <h3>Scss + Autoprefix</h3>
    <pre contenteditable><code data-trim class="hljs js">
var sass = require('gulp-sass');
var postcss = require('gulp-postcss');
var autoprefixer = require('autoprefixer');

gulp.task('css', function() {
  return gulp.src( assetsPath.stylesSrc + '/**/*.scss' )
    .pipe(plumber( {errorHandler: onError} ))
    .pipe(sass())
    .pipe(postcss([
      autoprefixer({
        browsers: [ 'last 2 versions', '> 1%']
      })
    ]))
    .pipe(gulp.dest( assetsPath.stylesDist ));
});

    </code></pre>
  </section>

   <section>
    <h3>Minificacion</h3>
    <pre contenteditable><code data-trim class="hljs js">
var rename = require('gulp-rename');
var cssnano = require('cssnano');

gulp.task('css', function() {
  return gulp.src( assetsPath.stylesSrc + '/**/*.scss' )
    .pipe(plumber( {errorHandler: onError} ))
    .pipe(sass())
    .pipe(postcss([
      autoprefixer({
        browsers: [ 'last 2 versions', '> 1%']
      })
    ]))
    .pipe(gulp.dest( assetsPath.stylesDist ))
    .pipe(postcss([
      cssnano()
    ]))
    .pipe(rename({ suffix: ".min"}))
    .pipe(gulp.dest( assetsPath.stylesDist ));
});

    </code></pre>
  </section>

  <section>
    <h3>Sourcemaps</h3>
    <pre contenteditable><code data-trim class="hljs js">
var sourcemaps = require('gulp-sourcemaps');

gulp.task('css', function() {
  return gulp.src( assetsPath.stylesSrc + '/**/*.scss' )
    .pipe(plumber( {errorHandler: onError} ))
    .pipe(sourcemaps.init())
      .pipe(sass())
      .pipe(postcss([
        autoprefixer({
          browsers: [
            'last 2 versions',
            '> 1%'
          ]
        })
      ]))
      .pipe(gulp.dest( assetsPath.stylesDist ))
      .pipe(postcss([
        cssnano({
          'zindex': false
        })
      ]))
      .pipe(rename({ suffix: ".min"}))
    .pipe(sourcemaps.write('./maps'))
    .pipe(gulp.dest( assetsPath.stylesDist ));
});
    </code></pre>
  </section>
</section>
