<section>
  <section>
    <h2>Javascript</h2>
  </section>

  <section>
    <h3>Dependecies</h3>
    <ul>
      <li><a href="https://github.com/adametry/gulp-eslint">gulp-eslint</a></li>
      <li><a href="https://github.com/contra/gulp-concat">gulp-concat</a></li>
      <li><a href="https://github.com/terinjokes/gulp-uglify">gulp-uglify</a></li>
      <li><a href="https://github.com/babel/gulp-babel">gulp-babel</a></li>
      <li><a href="https://github.com/babel/babel-eslint">babel-eslint</a></li>
      <li><a href="https://www.npmjs.com/package/babel-preset-es2015">babel-preset-es2015</a></li>
    </ul>
  </section>

  <section>
    <h3>Linting</h3>
    <pre contenteditable><code data-trim class="hljs js">
gulp.task('js-lint', function() {
  return gulp.src([
    assetsPath.scriptsSrc + '/**/*.js',
    '!' + assetsPath.scriptsSrc + '/vendor/**/*.js',
  ])
  .pipe(eslint())
  .pipe(eslint.format());
});
  </code></pre>
  </section>

  <section>
    <h3>Concat &amp; Uglify</h3>
    <pre contenteditable><code data-trim class="hljs js">
gulp.task('js', ['js-lint'], function() {
    return gulp.src([
      assetsPath.scriptsSrc + 'vendor/jquery.js',
      assetsPath.scriptsSrc + '/components/*.js'
    ])
    .pipe(plumber({ errorHandler: onError }))
    .pipe(sourcemaps.init())
      .pipe(concat('scripts.js'))
      .pipe(gulp.dest( assetsPath.scriptsDist ))
      .pipe(uglify({
        compress: { drop_console: true }
      }))
      .pipe(rename({ suffix: '.min' }))
    .pipe(sourcemaps.write('./maps'))
    .pipe(gulp.dest(assetsPath.scriptsDist));
  });
    </code></pre>
  </section>

  <section>
    <h3>Babel</h3>
    <pre contenteditable><code data-trim class="hljs js">
gulp.task('js', ['js-lint'], function() {
  return gulp.src([
    assetsPath.scriptsSrc + 'vendor/jquery.js',
    assetsPath.scriptsSrc + '/components/*.js'
  ])
  .pipe(plumber({ errorHandler: onError }))
  .pipe(sourcemaps.init())
    .pipe(babel({
      presets: ['es2015']
    }))
    .pipe(concat('scripts.js'))
    .pipe(gulp.dest( assetsPath.scriptsDist ))
    .pipe(uglify({ compress: { drop_console: true }
    }))
    .pipe(rename({ suffix: '.min' }))
  .pipe(sourcemaps.write('./maps'))
  .pipe(gulp.dest(assetsPath.scriptsDist));
});
    </code></pre>
  </section>
</section>
