<section>
  <section>
    <h2>Modernizr</h2>
  </section>

  <section>
    <h3>Dependecies</h3>
    <ul>
      <li><a href="https://github.com/doctyper/gulp-modernizr">gulp-modernizr</a></li>
    </ul>
  </section>

  <section>
    <pre contenteditable><code data-trim class="hljs js">
gulp.task('modernizr', function() {
  gulp.src([
    assetsPath.stylesDist + '/*.css',
    assetsPath.scriptsDist + '/scrpts.min.js',
  ])
  .pipe(modernizr({
    'options': [
      'setClasses',
    ]
  }))
  .pipe(gulp.dest( assetsPath.scriptsDist + '/vendor' ));
});
    </code></pre>
  </section>
</section>
