<section>
  <section>
    <h2 class="t-hero fz-l">Gulp 101</h2>
  </section>

  <section>
    <h3 class="t-hero fz-s">Setup</h3>
    <ol class="fz-m">
      <li class="mb-m">Instalar node</li>
      <li class="mb-m"><code class="u-marked">npm install -g gulp</code></li>
      <li class="mb-m">En el proyecto crear:
         <ul class="mt-m">
           <li class="mb-m"><code class="u-marked">package.json</code>, para las dependencias</li>
           <li class="mb-m"><code class="u-marked">gulpfile.js</code>, para configurar los tasks</li>
         </ul>
      </li>
      <li>Instalar y configurar tasks</li>
    </ol>
  </section>

  <section class="ta-c" data-transition="slide-in none-out">
    <p><img src="img/gulpfile01.png" alt=""></p>
  </section>

  <section class="ta-c" data-transition="none">
    <p><img src="img/gulpfile02.png" alt=""></p>
  </section>

  <section class="ta-c" data-transition="none">
    <p><img src="img/gulpfile03.png" alt=""></p>
  </section>

  <section class="ta-c" data-transition="none">
    <p><img src="img/gulpfile04.png" alt=""></p>
  </section>

  <section class="ta-c" data-transition="none">
    <p><img src="img/gulpfile05.png" alt=""></p>
  </section>

  <section class="ta-c" data-transition="none">
    <p><img src="img/gulpfile06.png" alt=""></p>
  </section>
</section>
