<section class="ta-c">
  <section>
    <h2 class="t-hero fz-m">Task runners:</h2>
    <p><img src="img/wolf01.gif" alt=""></p>
    <p>Dejemos que la máquina haga el trabajo sucio.</p>
  </section>

  <section>
    <h2 class="t-hero fz-l mb-l">¿Por qué Gulp?</h2>
    <p class="fragment">¿Por qué no?</p>
  </section>

  <section>
    <p>Lo importante NO es la herramienta.</p>
    <p><img src="img/hammer.gif" alt="" style="height: 20rem;"></p>
    <p class="fragment t-hero fz-m">Es el workflow.</p>
  </section>
</section>
