<section id="hello" class="ta-c">
  <p class="fz-l">Hola, soy <strong>Nahuel Sotelo</strong></p>
  <p class="fz-s" style="line-height: 1.5;">Frontend developer en <a href="http://www.schibsted.es/">Schibsted Spain</a> y Profesor de la asignatura Programación Frontend en el Master de <a href="http://www.baued.es/es/estudios/masters-y-posgrados/master-en-diseno-web">Diseño Web de Bau</a>.</p>

  <ul class="Social">
    <li class="Social-item">
      <a href="https://github.com/nahuelsotelo" class="Social-link Social-link--github">nahuelsotelo</a>
    </li>
    <li class="Social-item">
      <a href="https://es.linkedin.com/in/nahuelsotelo" class="Social-link Social-link--linkedin">Nahuel Sotelo</a>
    </li>
    <li class="Social-item">
      <a href="https://twitter.com/nahuelsotelo" class="Social-link Social-link--twitter">@nahuelsotelo</a>
    </li>
  </ul>
</section>
