<section class="ta-c">
  <section>
    <h2 class="t-hero fz-l">Mejorar el workflow</h2>
  </section>

  <section>
    <p class="t-hero fz-s tt-u">1. Primero lo necesito, luego lo busco.</p>
    <p><img src="img/lost.gif" alt="" style="height: 20rem;"></p>
    <p class="fz-l">Los task runners son una herramientas, no el objetivo.</p>

    <aside class="notes">
      <p>No perder tiempo probando todos los plugins existentes.</p>
    </aside>
  </section>

  <section>
    <p class="t-hero fz-s tt-u">2. Tiene que ser rápido</p>
    <p><img src="img/car.gif" alt="" style="height: 20rem;"></p>
    <p>Tres tipos de tareas: <i>On save</i>, <i>On build</i>, <i>On demand.</i></p>
  </section>

  <section>
    <p class="t-hero fz-s tt-u">3. Tener un plan B</p>
    <p><img src="img/restaurant.gif" alt="" style="height: 20rem;"></p>
    <p>Poder seguir adelante si algún task falla.</p>

    <aside class="notes">
      <p>Diferenciar lo que es una dependecia del task runner con una dependencia de otro add-on.</p>
    </aside>
  </section>
</section>
