---

layout: global
title: 'Gulp Fiction'

lesson_title: 'Gulp Fiction'

---

{% include presentation.html %}
{% include intro.html %}
{% include workflow.html %}
{% include gulp101.html %}
{% include demo.html %}
<!--
{% include 03-paths-and-clean.html %}
{% include 04-watch.html %}
{% include 05-errors.html %}
{% include 06-browsersync.html %}
{% include 07-css.html %}
{% include 08-js.html %}
{% include 09-modernizr.html %}
{% include 10-images.html %}
-->

<section class="fz-s">
  <h3 class="t-hero ta-l mb-l">Links relacionados:</h3>
  <ul>
    <li style="margin-bottom: .8em;">
      <strong>Gulp.js</strong><br>
      <a href="http://gulpjs.com/" style="font-size: .8em;">http://gulpjs.com/</a>
    </li>

    <li style="margin-bottom: .8em;">
      <strong>Introduction to Gulp.js</strong> <i style="color: #999;"> &mdash;  Stefan Imhoff</i><br>
      <a href="http://stefanimhoff.de/2014/gulp-tutorial-1-intro-setup/" style="font-size: .8em;">http://stefanimhoff.de/2014/gulp-tutorial-1-intro-setup/</a>
    </li>

    <li style="margin-bottom: .8em;">
      <strong>Essential Plugins for Gulp</strong> <i style="color: #999;"> &mdash; Ilya Pestov</i><br>
      <a href="http://ipestov.com/essential-plugins-for-gulp/" style="font-size: .8em;">http://ipestov.com/essential-plugins-for-gulp/</a>
    </li>

    <li style="margin-bottom: .8em;">
      <strong>Automating Front-end Workflow</strong> <i style="color: #999;"> &mdash; Addy Osmani</i><br>
      <a href="https://speakerdeck.com/addyosmani/automating-front-end-workflow" style="font-size: .8em;">https://speakerdeck.com/addyosmani/automating-front-end-workflow</a>
    </li>
  </ul>
</section>



<section class="ta-c" id="bye">
  <h2 class="t-hero fz-l">¡Gracias!</strong></h2>
  <p><img src="img/kiss.gif" alt="" style="height: 22rem;"></p>
  <p class="fz-m">Preguntas, dudas, comentarios a <a href="mailto:hola@nahuelsotelo.com" style="display: block;">hola@nahuelsotelo.com</a></p>
</section>

<section class="ta-c">
  <p><img src="img/monkeys.gif" alt="" style="height: 33rem;"></p>
</section>
