---

layout: global
title: 'Gulp Fiction'

lesson_title: 'Gulp Workflow'

---

{% include 00-presentation.html %}
{% include 01-intro.html %}
{% include 02-gulp101.html %}
{% include 03-paths-and-clean.html %}
{% include 04-watch.html %}
{% include 05-errors.html %}
{% include 06-browsersync.html %}

<section class="fz-s">
  <h3>Links relacionados</h3>
  <ul>
    <li style="margin-bottom: .8em;">
      <strong>When using IDs can be a pain in the class...</strong> <i style="color: #999;"> &mdash; Harry Roberts</i><br>
      <a href="http://csswizardry.com/2011/09/when-using-ids-can-be-a-pain-in-the-class/" style="font-size: .8em;">http://csswizardry.com/2011/09/when-using-ids-can-be-a-pain-in-the-class/</a>
    </li>
  </ul>
</section>

<section class="fz-s">
  <h3>Ejemplos</h3>
  <ul>
    <li style="margin-bottom: .8em;">
      <strong>...</strong><br>
      <a href="..." style="font-size: .8em;">...</a>
    </li>
  </ul>
</section>

<section id="bye">
  <h2 class="ta-c">¡Gracias!</strong></h2>
  <p class="ta-c">Preguntas, dudas, comentarios a <a href="mailto:hola@nahuelsotelo.com" style="display: block;">hola@nahuelsotelo.com</a></p>

  <ul class="Social">
    <li class="Social-item">
      <a href="https://github.com/nahuelsotelo" class="Social-link Social-link--github">nahuelsotelo</a>
    </li>

    <li class="Social-item">
      <a href="https://es.linkedin.com/in/nahuelsotelo" class="Social-link Social-link--linkedin">Nahuel Sotelo</a>
    </li>

    <li class="Social-item">
      <a href="https://twitter.com/nahuelsotelo" class="Social-link Social-link--twitter">@nahuelsotelo</a>
    </li>
  </ul>
</section>
